<%= link_to 'Back', :back %>
<a class="neutral-link" href="<%= pin_path(@pin) %>">
  <div id="<%= dom_id @pin %>" class="card card-narrow">
    <img class="card-img-top" src="<%= @pin.url %>" alt="<%= @pin.title %>"/>
    <div class="card-body">
      <h5 class="card-title"><%= @pin.title %></h5>
      <p class="card-text"><%= @pin.description %></p>
      <a href="#" class="btn btn-primary">Save</a>
      <a href="<%= edit_pin_path(@pin) %>" class="btn btn-outline-secondary">Edit</a>
      <a href="<%= pin_path(@pin) %>" rel="nofollow" data-confirm="Are you sure?" data-method="delete" class="btn btn-outline-danger">Delete</a>
    </div>
  </div>
</a>