<%= back_button %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class="card-img-top rounded" src="<%= @pin.url %>" alt="<%= @pin.title %>"/>
    </div>
    <div class="col-sm-6">
      <div class="container">

        <div class="row">
          <div class="col-sm-10">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
              </a>
              <ul class="dropdown-menu dropdown-menu-start">
                <li><%= link_to 'Edit', edit_pin_path(@pin), class: 'dropdown-item' %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><%= link_to 'Delete', pin_path(@pin), method: :delete, class: 'dropdown-item link-danger', data: { turbo_method: :delete } %></li>
              </ul>
            </div>

            <%= form_with(model: @pin) do |f| %>

              <%= f.select :board_id, current_user.boards.map { |board| [board.title, board.id] } %>
              <%= f.submit value: 'Save To Board', class: 'btn btn-primary' %>

            <% end %>


          </div>

          <div class="col-sm-2">
            <%= save_button @pin %>
          </div>


        </div>

        <div class="row">
          <div class="col">
            <small>From <a class="neutral-link" href="<%= @pin.url %>"><%= get_base_url @pin.url %></a></small>
            <h1 class="card-title mt-3"><%= @pin.title %></h1>
            <p class="card-text mt-3 fst-italic">Posted by <%= link_to @pin.user.name, profile_path(@pin.user) %></p>
            <p class="card-text mt-3"><%= @pin.description %></p>
            <p class="card-text small">
              <% @pin.tags.each do |tag| %>
                #<%= tag.name %>
              <% end %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to like_pin_path(@pin), method: :put, class: 'btn btn-default btn-xs', data: { turbo_method: :put } do %>
            <span class="fa fa-chevron-up"></span>
            <%= @pin.get_upvotes.size %>
          <% end %>

          <%= link_to dislike_pin_path(@pin), method: :put, class: 'btn btn-default btn-xs', data: { turbo_method: :put } do %>
            <span class="fa fa-chevron-down"></span>
            <%= @pin.get_downvotes.size %>
          <% end %>
        </div>
        <div class="row">
          <h4 class="mt-4">Comments</h4>
          <div>
            <%= render 'comments/form', pin: @pin, comment: Comment.new %>
          </div>
          <h5> <%= pluralize(@comments.count, 'comment') %></h5>
          <br>
          <%= render @comments %>
        </div>

      </div>
    </div>
  </div>

  <hr class="mt-4"/>

  <h4 class="text-center">Similar to this</h4>

  <div class="row row-cols-auto">
    <% @similar.each do |pin| %>
      <div class="col mb-3 max-height">
        <a class="neutral-link" href="<%= pin_path(pin) %>">
          <div id="<%= dom_id pin %>" class="card card-narrow pin-card-medium">
            <img class="card-img-top rounded" src="<%= pin.url %>" alt="<%= pin.title %>"/>
          </div>
        </a>
      </div>
    <% end %>
  </div>

</div>