<p style="color: green"><%= notice %></p>

<h1 align="center">Boards</h1>



<div align="center">
<%= link_to "New board", new_board_path, class: 'btn btn-primary' %>
</div>
<br>


<div class="row row-cols-auto">
  <% @boards.each do |board| %>
    <div class="col mb-3 max-height">
      <a class="neutral-link" href="<%= board_path(board) %>">
        <div id="<%= dom_id board %>" class="card card-narrow">

            <%= render board %>
            <p>

              <%= link_to "Show this board", board, class: 'btn btn-primary' %>
            </p>

        </div>
      </a>
    </div>

  <% end %>
</div>


