<p style="color: green"><%= notice %></p>


<%= back_button %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render @board %>
    </div>
    <div class="col-sm-6">
      <div class="container">

        <div class="row">
          <div class="col-sm-10">

          </div>

          <div class="col-sm-2">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h7>Manage</h7>
              </a>
              <ul class="dropdown-menu dropdown-menu-start">
                <li><%= link_to 'Edit', edit_board_path(@board), class: 'dropdown-item' %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li> <%= link_to "Back to boards", boards_path, class: 'dropdown-item'  %></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><%= link_to 'Delete', board_path(@board), method: :delete, class: 'dropdown-item link-danger', data: { turbo_method: :delete } %></li>

              </ul>


            </div>

          </div>


        </div>

        <div class="row">
          <div class="col">

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row row-cols-auto">
    <% @board.pins.each do |pin| %>
      <div class="col mb-3 max-height">
        <a class="neutral-link" href="<%= pin_path(pin) %>">
          <div id="<%= dom_id pin %>" class="card card-narrow">
            <img class="card-img-top rounded" src="<%= pin.url %>" alt="<%= pin.title %>"/>
          </div>
        </a>
      </div>
    <% end %>
  </div>






</div>