<p style="color: green"><%= notice %></p>

<%= render @board %>

<div>
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>
<div class="row row-cols-auto">
  <% @board.pins.each do |pin| %>
    <div class="col mb-3 max-height">
      <a class="neutral-link" href="<%= pin_path(pin) %>">
        <div id="<%= dom_id pin %>" class="card card-narrow">
          <img class="card-img-top rounded" src="<%= pin.url %>" alt="<%= pin.title %>"/>
        </div>
      </a>
    </div>
  <% end %>
</div>